<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>servlet-028-listener-httpsessionlistener</display-name>

	<listener>
		<listener-class>com.doganilbars.session.HttpSessionListenerImpl</listener-class>
	</listener>

	<servlet>
		<servlet-name>HttpSessionListenMe</servlet-name>
		<servlet-class>com.doganilbars.session.HttpSessionListenMe</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HttpSessionListenMe</servlet-name>
		<url-pattern>/httpsessionlistenme</url-pattern>
	</servlet-mapping>
</web-app>