<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>servlet-055-jsp-expressionlanguage-dotoperator</display-name>

	<servlet>
		<servlet-name>DotOperatorExpressionLanguage</servlet-name>
		<servlet-class>com.doganilbars.DotOperatorExpressionLanguage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DotOperatorExpressionLanguage</servlet-name>
		<url-pattern>/dotoperatorexpressionlanguage</url-pattern>
	</servlet-mapping>
</web-app>