<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>servlet-037-session03-sessiontimeout</display-name>

	<servlet>
		<servlet-name>SessionTimeOut</servlet-name>
		<servlet-class>com.doganilbars.SessionTimeOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionTimeOut</servlet-name>
		<url-pattern>/sessiontimeout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SessionTimeOutCheck</servlet-name>
		<servlet-class>com.doganilbars.SessionTimeOutCheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionTimeOutCheck</servlet-name>
		<url-pattern>/sessiontimeoutcheck</url-pattern>
	</servlet-mapping>
</web-app>