<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>servlet-025-listener-servletcontextlistener</display-name>
	<listener>
		<listener-class>com.doganilbars.context.ServletContextListenerImpl</listener-class>
	</listener>
	<listener>
		<listener-class>com.doganilbars.context.ServletContextListenerImpl1</listener-class>
	</listener>
	<listener>
		<listener-class>com.doganilbars.context.ServletContextListenerImpl2</listener-class>
	</listener>

	<listener>
		<listener-class>com.doganilbars.context.attr.ServletContextAttributeListenerImpl</listener-class>
	</listener>

	<servlet>
		<servlet-name>SCAttributeListenMe</servlet-name>
		<servlet-class>com.doganilbars.context.attr.SCAttributeListenMe</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SCAttributeListenMe</servlet-name>
		<url-pattern>/scattributeListenMe</url-pattern>
	</servlet-mapping>



</web-app>