<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>servlet-053-jsp-expressionlanguange-withouthel</display-name>
  <servlet>
    <servlet-name>WithoutExpressionLanguage</servlet-name>
    <servlet-class>com.doganilbars.WithoutExpressionLanguage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithoutExpressionLanguage</servlet-name>
    <url-pattern>/withoutexpressionlanguage</url-pattern>
  </servlet-mapping>
</web-app>