<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>servlet-026-listener-servletrequestlistener</display-name>
	<listener>
		<listener-class>com.doganilbars.request.ServletRequestListenerImpl</listener-class>
	</listener>
	<servlet>
		<servlet-name>ServletRequestListenMe</servlet-name>
		<servlet-class>com.doganilbars.request.ServletRequestListenMe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletRequestListenMe</servlet-name>
		<url-pattern>/servletrequestlistenme</url-pattern>
	</servlet-mapping>

</web-app>